<div class="h-full w-4/5 mx-auto">
	<app-header (saveContract)="saveContract($event)" (saveCustomer)="saveCustomer($event)" (saveEmployee)="saveEmployee($event)" [contracts]="passContracts" [customers]="passCustomers" [personel]="passPersonel"></app-header>
	<app-contract-box 
	[contracts]="passContracts" [customers]="passCustomers" [personel]="passPersonel"
	(deleteContract)="onDeleteContract($event)"
	(deleteCustomer)="onDeleteCustomer($event)"
	(deleteEmployee)="onDeleteEmployee($event)"

	(editContract)="onEditContract($event)"
	(editCustomer)="onEditCustomer($event)"
	(editEmployee)="onEditEmployee($event)"

	(searchContractCustomer)="onSearchByCustomer($event)"
	(searchContractEmployee)="onSearchContractEmployee($event)"
	(searchCustomer)="onSearchCustomer($event)"
	(searchEmployee)="onSearchEmployee($event)"
	></app-contract-box>
</div>