<mat-tab-group>
	<mat-tab label="Contracts">
		<div *ngIf="contracts">
			<div class="grid xl:grid-cols-5 lg:grid-cols-3 md:grid-cols-2 gap-4 sm:grid-cols-1 pt-5">
				<button [matMenuTriggerFor]="info_pannel" *ngFor="let contract of contracts"
					class="p-4 border-2 hover:bg-gray-300 border-orange-600 rounded-3xl w-full grid flex-cols-1 justify-center items-center">
					<div class="text-center">Registration Number: <span
							class="font-bold">{{contract.registration_number}}</span></div>
					<div class="text-center">Customer: <span class="font-bold">{{contract.client.name + ' ' +
							contract.client.surename}}</span></div>
					<div class="text-center" *ngFor="let personel of contract.contract_administrator; let i=index">
						Contract leader {{i + 1}}: <span class="font-bold">{{personel.name + ' ' +
							personel.surename}}</span>
					</div>

					<mat-menu #info_pannel="matMenu">
						<div class="grid flex-cols-1">
							<div class="text-center p-2">Registration Number: <span
									class="font-bold">{{contract.registration_number}}</span></div>
							<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">

							<div class="text-center p-2">Bank: <span class="font-bold">{{contract.institution}}</span>
							</div>
							<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">

							<button (click)="openBottomSheetCustomer(contract.client)" class="text-center p-2 hover:bg-gray-200">Client: <span
									class="font-bold">{{contract.client.name + ' ' +
									contract.client.surename}}</span></button>
							<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">
							
							<div *ngFor="let personel of contract.contract_administrator; let i=index">
								<button (click)="openBottomSheetPersonel(contract.contract_administrator[i])" class="text-center p-2 hover:bg-gray-200">Contract leader {{i + 1}}: <span class="font-bold">{{personel.name + ' ' +
									personel.surename}}</span></button>
									<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">
							</div>

							<div class="text-center p-2">Date of creation: <span
									class="font-bold">{{contract.date_of_creation.getDate() + '-' +
									contract.date_of_creation.getMonth()
									+ '-' + contract.date_of_creation.getFullYear()}}</span>
							</div>
							<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">

							<div class="text-center p-2">Date of validation: <span
									class="font-bold">{{contract.validity_date.getDate() + '-' +
									contract.date_of_creation.getMonth()
									+ '-' + contract.validity_date.getFullYear()}}</span></div>
							<hr class="w-10/12 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700">

							<div class="text-center p-2">Date of closure: <span
									class="font-bold">{{contract.date_of_closure.getDate() + '-' +
									contract.date_of_closure.getMonth()
									+ '-' + contract.date_of_closure.getFullYear()}}</span></div>
						</div>
					</mat-menu>
				</button>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Customers">
		<div *ngIf="customers" class="pt-4">
			<div *ngFor="let customer of customers" class="p-2">
				<mat-accordion>
					<mat-expansion-panel hideToggle class="border-2 border-orange-600">
						<mat-expansion-panel-header>
							<mat-icon>expand_more</mat-icon>
							<mat-panel-title>
								{{ customer.name + ' ' + customer.surename }}
							</mat-panel-title>
							<mat-panel-description>
								{{ customer.email }}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div class="text-lg p-1">Full name: <span class="font-bold">{{ customer.name + ' ' + customer.surename }}</span></div>
						<div class="text-lg p-1">Email: <span class="font-bold">{{ customer.email }}</span></div>
						<div class="text-lg p-1">Phone number: <span class="font-bold">{{ customer.phone_number }}</span></div>
						<div class="text-lg p-1">Birth number: <span class="font-bold">{{ customer.birth_number }}</span></div>
						<div class="text-lg p-1">Age: <span class="font-bold">{{ customer.age }}</span></div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Personel">
		<div *ngIf="personel" class="pt-4">
			<div *ngFor="let employe of personel" class="p-2">
				<mat-accordion>
					<mat-expansion-panel hideToggle class="border-2 border-orange-600">
						<mat-expansion-panel-header>
							<mat-icon>expand_more</mat-icon>
							<mat-panel-title>
								{{ employe.name + ' ' + employe.surename }}
							</mat-panel-title>
							<mat-panel-description>
								{{ employe.email }}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div class="text-lg p-1">Employe ID: <span class="font-bold">{{ employe.pesonel_id }}</span></div>
						<div class="text-lg p-1">Full name: <span class="font-bold">{{ employe.name + ' ' + employe.surename }}</span></div>
						<div class="text-lg p-1">Email: <span class="font-bold">{{ employe.email }}</span></div>
						<div class="text-lg p-1">Phone number: <span class="font-bold">{{ employe.phone_number }}</span></div>
						<div class="text-lg p-1">Birth number: <span class="font-bold">{{ employe.birth_number }}</span></div>
						<div class="text-lg p-1">Age: <span class="font-bold">{{ employe.age }}</span></div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>