<mat-tab-group>
	<mat-tab label="Contracts">
		<div *ngIf="contracts">
			<div class="pt-5 flex gap-4 flex-col lg:flex-row">
				<div>
					<mat-form-field class="example-full-width">
						<mat-label>
							<div class="flex">
								<div class="pr-1">Seach by customer</div>
								<mat-icon class=>search</mat-icon>
							</div>
						</mat-label>
						<input matInput type="text" [(ngModel)]="contractSearchCustomer"
							(input)="onContractSearchCustomer()">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="example-full-width">
						<mat-label>
							<div class="flex">
								<div class="pr-1">Seach by employee</div>
								<mat-icon class=>search</mat-icon>
							</div>
						</mat-label>
						<input matInput type="text" [(ngModel)]="contractSearchEmployee"
							(input)="onContractSearchEmployee()">
					</mat-form-field>
				</div>
			</div>
			<div class="grid xl:grid-cols-5 lg:grid-cols-3 md:grid-cols-2 gap-4 sm:grid-cols-1">
				<button [matMenuTriggerFor]="info_pannel" *ngFor="let contract of contracts"
					class="p-4 border-2 hover:bg-gray-300 border-orange-600 rounded-3xl w-full grid flex-cols-1 justify-center items-center">
					<div class="text-center">Registration Number: <span
							class="font-bold">{{contract.registration_number}}</span></div>
					<div class="text-center">Customer: <span class="font-bold">{{contract.client.name + ' ' +
							contract.client.surename}}</span></div>
					<div class="text-center" *ngFor="let personel of contract.contract_administrator; let i=index">
						Contract leader {{i + 1}}: <span class="font-bold">{{personel.name + ' ' +
							personel.surename}}</span>
					</div>

					<mat-menu #info_pannel="matMenu">
						<div class="grid flex-cols-1">
							<div class="text-center p-2">Registration Number: <span
									class="font-bold">{{contract.registration_number}}</span></div>

							<div class="text-center p-2">Bank: <span class="font-bold">{{contract.institution}}</span>
							</div>

							<button (click)="openBottomSheetCustomer(contract.client)"
								class="text-center px-2 hover:bg-gray-200 inline-flex items-center truncate mx-auto">Client:
								<span class="font-bold"> {{contract.client.name + ' ' +
									contract.client.surename}}</span>
								<div class="mt-2 px-1">
									<mat-icon class="">info</mat-icon>
								</div>
							</button>

							<div *ngFor="let personel of contract.contract_administrator; let i=index">
								<button (click)="openBottomSheetPersonel(contract.contract_administrator[i])"
									class="text-center px-2 hover:bg-gray-200 inline-flex items-center truncate">Contract
									leader {{i + 1}}: <span class="font-bold">{{personel.name + ' ' +
										personel.surename}}</span>

									<div class="mt-2 px-1">
										<mat-icon class="">info</mat-icon>
									</div>
								</button>
							</div>

							<div class="text-center p-2">Date of creation: <span
									class="font-bold">{{contract.date_of_creation.getDate() + '-' +
									(contract.date_of_creation.getMonth() + 1)
									+ '-' + contract.date_of_creation.getFullYear()}}</span>
							</div>

							<div class="text-center p-2">Date of validation: <span
									class="font-bold">{{contract.validity_date.getDate() + '-' +
									(contract.validity_date.getMonth() + 1)
									+ '-' + contract.validity_date.getFullYear()}}</span></div>

							<div class="text-center p-2">Date of closure: <span
									class="font-bold">{{contract.date_of_closure.getDate() + '-' +
									(contract.date_of_closure.getMonth() + 1)
									+ '-' + contract.date_of_closure.getFullYear()}}</span></div>
						</div>

						<div class=" p-2 grid grid-cols-3 gap-2 mx-auto">
							<button (click)="onEditContract(contract)"
								class="border-2 border-orange-600 rounded-full pt-2 px-2 hover:bg-gray-200">
								<mat-icon>edit</mat-icon>
							</button>
							<button (click)="onDeleteContract(contract)"
								class="border-2 border-orange-600 rounded-full pt-2 px-2 hover:bg-gray-200">
								<mat-icon>delete</mat-icon>
							</button>
							<button (click)="onDownloadContractCSV(contract)"
								class="border-2 border-orange-600 rounded-full pt-2 px-2 hover:bg-gray-200">
								<mat-icon>arrow_downward</mat-icon>
							</button>
						</div>
					</mat-menu>
				</button>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Customers">
		<div *ngIf="customers" class="pt-4">
			<mat-form-field class="example-full-width">
				<mat-label class="text-center">
					<div class="flex">
						<div class="pr-1">Search</div>
						<mat-icon class=>search</mat-icon>
					</div>
				</mat-label>
				<input matInput type="text" [(ngModel)]="searchCustomerString" (input)="onSearchCustomer()">
			</mat-form-field>

			<div *ngFor="let customer of customers" class="p-2">
				<mat-accordion>
					<mat-expansion-panel hideToggle class="border-2 border-orange-600">
						<mat-expansion-panel-header>
							<mat-icon>expand_more</mat-icon>
							<mat-panel-title>
								{{ customer.name + ' ' + customer.surename }}
							</mat-panel-title>
							<mat-panel-description>
								{{ customer.email }}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div>
							<div class="text-lg p-1">Full name: <span class="font-bold">{{ customer.name + ' ' +
									customer.surename }}</span></div>
							<div class="text-lg p-1">Email: <span class="font-bold">{{ customer.email }}</span></div>
							<div class="text-lg p-1">Phone number: <span class="font-bold">{{ customer.phone_number
									}}</span></div>
							<div class="text-lg p-1">Birth number: <span class="font-bold">{{ customer.birth_number
									}}</span></div>
							<div class="text-lg p-1">Age: <span class="font-bold">{{ customer.age }}</span></div>

							<div class="grid grid-cols-3 gap-4 pt-5">
								<button (click)="onEditCustomer(customer)"
									class="border-2 border-orange-600 p-2 rounded-full hover:bg-gray-200"><mat-icon>edit</mat-icon></button>
								<button (click)="onDeleteCustomer(customer)"
									class="border-2 border-orange-600 p-2 rounded-full hover:bg-gray-200"><mat-icon>delete</mat-icon></button>
								<button (click)="onDownloadCustomerCSV(customer)"
									class="border-2 border-orange-600 rounded-full pt-2 px-2 hover:bg-gray-200">
									<mat-icon>arrow_downward</mat-icon>
								</button>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Personel">
		<div *ngIf="personel" class="pt-4">
			<mat-form-field class="example-full-width">
				<mat-label class="text-center">
					<div class="flex">
						<div class="pr-1">Search</div>
						<mat-icon class=>search</mat-icon>
					</div>
				</mat-label>
				<input matInput type="text" [(ngModel)]="searchEmployeeString" (input)="onSearchEmployee()">
			</mat-form-field>
			<div *ngFor="let employee of personel" class="p-2">
				<mat-accordion>
					<mat-expansion-panel hideToggle class="border-2 border-orange-600">
						<mat-expansion-panel-header>
							<mat-icon>expand_more</mat-icon>
							<mat-panel-title>
								{{ employee.name + ' ' + employee.surename }}
							</mat-panel-title>
							<mat-panel-description>
								{{ employee.email }}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div>
							<div class="text-lg p-1">Employe ID: <span class="font-bold">{{ employee.personel_id
									}}</span>
							</div>
							<div class="text-lg p-1">Full name: <span class="font-bold">{{ employee.name + ' ' +
									employee.surename }}</span></div>
							<div class="text-lg p-1">Email: <span class="font-bold">{{ employee.email }}</span></div>
							<div class="text-lg p-1">Phone number: <span class="font-bold">{{ employee.phone_number
									}}</span>
							</div>
							<div class="text-lg p-1">Birth number: <span class="font-bold">{{ employee.birth_number
									}}</span>
							</div>
							<div class="text-lg p-1">Age: <span class="font-bold">{{ employee.age }}</span></div>
							<div class="grid grid-cols-3 gap-4 pt-5">
								<button (click)="onEditEmployee(employee)"
									class="border-2 border-orange-600 p-2 rounded-full hover:bg-gray-200"><mat-icon>edit</mat-icon></button>
								<button (click)="onDeleteEmployee(employee)"
									class="border-2 border-orange-600 p-2 rounded-full hover:bg-gray-200"><mat-icon>delete</mat-icon></button>
								<button (click)="onDownloadEmployeeCSV(employee)"
									class="border-2 border-orange-600 rounded-full pt-2 px-2 hover:bg-gray-200">
									<mat-icon>arrow_downward</mat-icon>
								</button>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>